BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
DerivePointerBinding: false
PointerBindsToType: true
BreakConstructorInitializersBeforeComma: true
#MaxEmptyLinesToKeep: 2
NamespaceIndentation: Inner
SpaceAfterControlStatementKeyword: true
SpaceBeforeAssignmentOperators: true
Standard: Cpp11
